<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zq.admin.jdbc.Mapper">
    <insert id="addUser">
        insert into account(username, password) values (#{username}, #{password})
    </insert>
    <select id="selectPassword" resultType="java.lang.String">
        select password from account where username=#{username}
    </select>
    <select id="tableExists" resultType="java.lang.String">
        select * from information_schema.tables where TABLE_NAME='ACCOUNT' and TABLE_TYPE='BASE TABLE'
    </select>
    <update id="createTable">
        create table account(id int not null primary key auto_increment, password varchar(255), username varchar(255))
    </update>
</mapper>